@page
@model MyLibraryApp.Pages.Account.RegisterModel
@{

    if (TempData["Success"] != null)
    {
        <h5>@TempData["Success"]</h5>
    }
}
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="User.Name"></label>
            </div>
            <div class="col-3">
                <input type="text" asp-for="User.Name" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="User.Name"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="User.Surname"></label>
            </div>
            <div class="col-3">
                <input type="text" asp-for="User.Surname" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="User.Surname"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="User.Email"></label>
            </div>
            <div class="col-3">
                <input type="text" asp-for="User.Email" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="User.Email"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="User.Password"></label>
            </div>
            <div class="col-3">
                <input type="password" asp-for="User.Password" class="form-control" />
            </div>
            <span class="text-danger" asp-validation-for="User.Password"></span>
        </div>
        <br />
        <div class="form-group row">
            <div class="col-1">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
        </div>
    </form>
</div>