@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Library</h1>
    <h2 class="display-6">Web Application</h2>

    <br />
    <br />

    <p> Welcome!</p>
</div>
